@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply font-texts relative;
}

.size {
  @apply w-[95%] md:w-[90%] mx-auto;
}

.shadows {
  box-shadow: 0px 0px 3px 0.3px rgb(182, 182, 182);
}

.btn {
  @apply px-3 p-2 text-sm font-medium;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.write .ql-editor {
  font-size: 1.2rem !important;
  padding: 0 !important;
}
